  <div class="contenido_total">
  <div id="link">
    <a href="tests/index.html">Tests</a>&nbsp &nbsp &nbsp &nbsp
    <a href="https://github.com/alu0100693737/ajax-ecma6-modules-files-ivan_garcia">Repositorio</a> &nbsp &nbsp &nbsp &nbsp
    <a href="http://alu0100693737.github.io/">Web: Iván García</a>
  </div>
      <div class="CSV">
      <h1 align="center">
        <font color="blue">Comma Separated Values (CSV) Analyzer with Ajax</font>
      </h1>
      <hr>
    </div>
    <div class="contenido">
      <div class="center" id="input">
        <p>Escriba aquí una entrada CSV o bien</p>
        Arrastre un fichero CSV hasta la zona de entrada
        <br>
            <textarea class = "drop_zone" autofocus="" cols = "80" rows = "5" id="original"></textarea>
        <br>
            <button type="button" id="parser"> Analizar!</button>
            <div class="example">
              Click para cargar ejemplos:
              <button class ="example" type="button">input</button>
              <button class ="example" type="button">input2</button>
              <button class ="example" type="button">input3</button>
            </div>
            <br>
              Cargar archivo:
              <input type="file" class="inputfile" />
          </div>
      <div class="output" id="finaltable">
      </div>
    </div>
  </div>
