<!DOCTYPE HTML>
<html lang="en">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>pegjs</title>
    <link href="../css/normalize.css" rel="stylesheet" type="text/css" id="prueba">
    <link href="../css/global.css" rel="stylesheet" type="text/css" id="prueba">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="\"  title="Index">Index</a> </li>
        <li> <a href="\grammar"  title="Grammar">Grammar PEG</a> </li>
        <li> <a href="\test"  title="Test">Test PEG</a> </li>
        <li> <a href="https://campusvirtual.ull.es/1516/course/view.php?id=178"  title="PL">PL-UDV</a> </li>
        <li> <a href="https://github.com/alu0100693737/Proyecto-PL"  title="Repo">Repo</a> </li>
        <li> <a href="http://alu0100693737.github.io/"  title="Pag Personal">Pag Personal</a> </li>
        <li> <a href="http://en.wikipedia.org/wiki/Recursive_descent_parser#Example_parser"   title="Wikipedia">PL0</a> </li>
        <li> <a href="http://pegjs.majda.cz/"  title="PEG.js">PEG.js</a> </li>
        <li> <a href="http://datamapper.org/"  title="DataMapper">DataMapper</a> </li>
        <li> <a href="http://sass-lang.com/"  title="Sass">Sass</a> </li>
        <li> <a href="http://docs.mathjax.org/en/latest/start.html"  title="MathJax">MathJax</a> </li>
      </ul>
    </nav>
    <div id="index">
  <center><h1>Analizador de PL0 ampliado usando PEG.js</h1></center>
<div id="content">
<div id ="prueba">
  Cargar archivo:
  <input type="file" class="inputfile" />
  <p>
  </div>
<table>
    <tr>
      <td>
      
           <textarea class = "drop_zone" autofocus="" cols = "80" rows = "10" id="original"></textarea>
            </textarea>
          <br/>
          <br>
            <div class="example">
              Click para cargar ejemplos:
              <button class ="example" type="button">entrada1</button>
              <button class ="example" type="button">entrada2</button>
              <button class ="example" type="button">entrada3</button>
              <button class ="example" type="button">entrada4</button>
            </div>
            <br>
            Guardar entrada:
            <form>
              <input id="titulo" type="text" pattern="^[a-zA-Z_]\w*\.pl0$">
              <input id="guardar" type="submit">
            </form>
        
      </td>
      <td><button id="parse" class="boton" type="button">parse</button></td>
    </tr>
  </table>
  </p>
    <pre>
<div id="salida">Salida</div> <!-- Output goes here! -->
  </div>
</div>
</div>
<footer> Iván Garcia Campos.  &nbsp Procesadores de lenguaje </footer>
<script src="js/dragdrop.js"></script>
</body>
</html>
