
  <center><h1>Analizador de PL0 ampliado usando PEG.js</h1></center>
<div id="content">
  Cargar archivo:
  <input type="file" class="inputfile" />
  <p>
  <table>
    <tr>
      <td>
        <form action="/save" method="post">
           <textarea class = "drop_zone" autofocus="" cols = "80" rows = "10" id="original"></textarea>
            </textarea>
          <br/>
          <br>
            <div class="example">
              Click para cargar ejemplos:
              <button class ="example" type="button">entrada1</button>
              <button class ="example" type="button">entrada2</button>
              <button class ="example" type="button">entrada3</button>
              <button class ="example" type="button">entrada4</button>
            </div>
            <br>
            Guardar entrada:
            <form>
              <input id="titulo" type="text" pattern="^[a-zA-Z_]\w*\.pl0$">
              <input id="guardar" type="submit">
            </form>
        </form>
      </td>
      <td><button id="parse" class="boton" type="button">parse</button></td>
    </tr>
  </table>
  </p>
  <div class="salida">
    <pre>
<span id="salida"></span> <!-- Output goes here! -->
    </pre>
  </div>
</div>
<div id="footer">
  Iván García Campos &nbsp; &nbsp; Procesadores de Lenguaje
</div>

<script src="js/dragdrop.js"></script>
