
  <center><h1>Analizador de PL0 ampliado usando PEG.js</h1></center>
<div id="content">
  <p class="original">
    <input type="file" id="examples" />
  </p>
  <p>
  <table>
    <tr>
      <td>
        <form action="/save" method="post">
          <textarea id="original" name="original"
                             autofocus cols = "80" rows = "7">

            </textarea>
          <br/>
          <label for="saveas">Save as</label>
          <input id="saveas" type="text" name="fname"
                 title="name" pattern="\w+" />
        </form>
      </td>
      <td><button id="parse" type="button">parse</button></td>
    </tr>
  </table>
  </p>
  <div class="salida">
    <pre>
<span id="salida"></span> <!-- Output goes here! -->
    </pre>
  </div>
</div>

<script src="js/pl0.js"></script>
