
  <div id="mocha"></div>
  <script src="../test/mocha.css"></script>
  <script src="../js/pl0.js"></script>
  <div id="salida">
  <script src="../test/chai.js"></script>
  <script src="../test/mocha.js"></script>
  <script>mocha.setup('tdd')</script>
  <script>mocha.setup('bdd')</script>
  <script src="../test/test.js"></script>
  <script>mocha.run();</script>
</div>
