@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin centerer {
  position: absolute;
  top: 10%;
  left: 22%;
}

@mixin btn-theme {
   padding: 15px 32px;
   background-color: $colorHover;
   border-color: #743EA5;
   &:hover {
      background-color: $colorBlanco;
   }
 }

$font-stack:   Helvetica, sans-serif;
$backgroundcolor:  #DA9797;
$colorNegro: #000000;
$colorBlanco: #eee;
$colorVerde: rgba(0, 164, 42, 0.8);
$colorHover: #BDBDBD;
$colorFondo:   rgba(23, 86, 202, 0.3);


input        { @include position(right, $top: 1em, $left: 30%); }
textarea     { border-color: $colorFondo; }
table        {
  @include font-size(1);
  border-color: $colorBlanco;
}

#finaltable td { background-color: $colorHover;
   padding: 20px;
   border: 20px;
}

@mixin tabs ($background: blue, $color: yellow) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $backgroundcolor;
    overflow: hidden;
  }
  li {
    float: left;
  }
  a {
    text-decoration: none;
    display: block;
    padding: 8px;
    &:hover {
      background: darken($background, 20%);
    }
  }
}

nav {
  @include tabs ($background: rgba(255,255,0,0.3), $color: $colorBlanco);
  font-weight: bold;
}
/*problemas mostrando boton*/
button.hidden {
  display: none;
}

tr:nth-child(odd)    {
  background-color: rgba(215, 143, 44, 0.6); }
tr:nth-child(even)    { background-color:$colorVerde }
tr.error       { background-color: red;}

html {
  @include cover-background('images/fondo.jpg');
  font-weight: bold;
}

#index {
  @include centerer;
}

.examples {
  font-size: 15px;
}

label {
  font-size: 25px;
  padding-left: 5%;
}

#footer {
  border-color: $colorFondo;
  background-color: $colorBlanco;
  padding: 2%;
  font-weight: bold;
  font-style: oblique;
}

#salida {
  background-color: $colorBlanco;
  border-color: $colorFondo;
  padding: 2%;
}

#fondo_tabla {
  background-color: $colorFondo;
  padding: 5%;
  font-weight: bold;
  font-style: oblique;
  @include btn-theme();
}

#result      {
  @include position(top, $top: 1em, $left: 50%);
  border-color: red;
  @include font-size(2);
}

#header {
  @include position(top, $top: 1em, $left: 30%);
  padding: 5px;
  font-style: italic;
  background-color: $colorBlanco;
}

textarea {
  resize: none;
}

.boton {
   @include btn-theme();
}

#grammar {
  padding: 10px;
  margin-left: 20%;
  margin-top: 5%;
  margin-right: 25%;
  background-color: rgba(255, 255, 255, 0.4);
}

h1 {
    @include font-size(2);
    margin: 4%;
    text-align: center;
    padding:1%;
    color: $colorNegro;
    background-color: $colorBlanco;
}

h1:hover {
  background-color: $backgroundcolor;
}
